In [1]:
import tushare as ts
import csv
import time
import pandas as pd
pro = ts.pro_api('20240220161230-78b00d30-7dc1-4ea5-99e2-924e60d68931')
pro._DataApi__http_url = 'http://tsapi.majors.ltd:7000'

In [17]:
start_date = '20200101'
end_date = '20240220'
ts_code = '000002.SZ'
year='2020'

### 1. 股票数据获取（Tushare）

#### 1.1 股票基本信息

In [2]:
stock_basic = pro.stock_basic(list_status='L', fields='ts_code, symbol, name, industry')

# 重命名字段（便于后续导入neo4j）
# 保存为stock_basic.csv
stock_basic.to_csv('./financial_data/stock_basic.csv', encoding='utf-8', index=False)

stock_basic.head()

     ts_code  symbol  name industry
0  000001.SZ  000001  平安银行       银行
1  000002.SZ  000002   万科A     全国地产
2  000004.SZ  000004  国华网安     软件服务
3  000005.SZ  000005  ST星源     环境保护
4  000006.SZ  000006  深振业A     区域地产

In [15]:
import logging
from datetime import datetime

In [5]:
logging.basicConfig(filename='log.txt', level=logging.INFO, format='%(asctime)s - %(message)s', datefmt='%Y-%m-%d %H:%M:%S')

In [6]:
graph.run("""
LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/wuqicyber/Financial-Knowledge-Graphs/master/code/financial_data/stock_basic.csv' AS row
CREATE (company:Company)
SET company = row
""")

(No data)

#### 1.2 股票Top10股东信息

In [13]:
ts_codes = stock_basic['ts_code'].tolist()
ts_codes

['000001.SZ',
 '000002.SZ',
 '000004.SZ',
 '000005.SZ',
 '000006.SZ',
 '000007.SZ',
 '000008.SZ',
 '000009.SZ',
 '000010.SZ',
 '000011.SZ',
 '000012.SZ',
 '000014.SZ',
 '000016.SZ',
 '000017.SZ',
 '000019.SZ',
 '000020.SZ',
 '000021.SZ',
 '000023.SZ',
 '000025.SZ',
 '000026.SZ',
 '000027.SZ',
 '000028.SZ',
 '000029.SZ',
 '000030.SZ',
 '000031.SZ',
 '000032.SZ',
 '000034.SZ',
 '000035.SZ',
 '000036.SZ',
 '000037.SZ',
 '000039.SZ',
 '000040.SZ',
 '000042.SZ',
 '000045.SZ',
 '000048.SZ',
 '000049.SZ',
 '000050.SZ',
 '000055.SZ',
 '000056.SZ',
 '000058.SZ',
 '000059.SZ',
 '000060.SZ',
 '000061.SZ',
 '000062.SZ',
 '000063.SZ',
 '000065.SZ',
 '000066.SZ',
 '000068.SZ',
 '000069.SZ',
 '000070.SZ',
 '000078.SZ',
 '000088.SZ',
 '000089.SZ',
 '000090.SZ',
 '000096.SZ',
 '000099.SZ',
 '000100.SZ',
 '000151.SZ',
 '000153.SZ',
 '000155.SZ',
 '000156.SZ',
 '000157.SZ',
 '000158.SZ',
 '000159.SZ',
 '000166.SZ',
 '000301.SZ',
 '000333.SZ',
 '000338.SZ',
 '000400.SZ',
 '000401.SZ',
 '000402.SZ',
 '000403.SZ',
 '000404.SZ',
 '000407.SZ',
 '000408.SZ',
 '000409.SZ',
 '000410.SZ',
 '000411.SZ',
 '000413.SZ',
 '000415.SZ',
 '000416.SZ',
 '000417.SZ',
 '000419.SZ',
 '000420.SZ',
 '000421.SZ',
 '000422.SZ',
 '000423.SZ',
 '000425.SZ',
 '000426.SZ',
 '000428.SZ',
 '000429.SZ',
 '000430.SZ',
 '000488.SZ',
 '000498.SZ',
 '000501.SZ',
 '000503.SZ',
 '000504.SZ',
 '000505.SZ',
 '000506.SZ',
 '000507.SZ',
 '000509.SZ',
 '000510.SZ',
 '000513.SZ',
 '000514.SZ',
 '000516.SZ',
 '000517.SZ',
 '000518.SZ',
 '000519.SZ',
 '000520.SZ',
 '000521.SZ',
 '000523.SZ',
 '000524.SZ',
 '000525.SZ',
 '000526.SZ',
 '000528.SZ',
 '000529.SZ',
 '000530.SZ',
 '000531.SZ',
 '000532.SZ',
 '000533.SZ',
 '000534.SZ',
 '000536.SZ',
 '000537.SZ',
 '000538.SZ',
 '000539.SZ',
 '000541.SZ',
 '000543.SZ',
 '000544.SZ',
 '000545.SZ',
 '000546.SZ',
 '000547.SZ',
 '000548.SZ',
 '000550.SZ',
 '000551.SZ',
 '000552.SZ',
 '000553.SZ',
 '000554.SZ',
 '000555.SZ',
 '000557.SZ',
 '000558.SZ',
 '000559.SZ',
 '000560.SZ',
 '000561.SZ',
 '000563.SZ',
 '000564.SZ',
 '000565.SZ',
 '000566.SZ',
 '000567.SZ',
 '000568.SZ',
 '000570.SZ',
 '000571.SZ',
 '000572.SZ',
 '000573.SZ',
 '000576.SZ',
 '000581.SZ',
 '000582.SZ',
 '000584.SZ',
 '000586.SZ',
 '000589.SZ',
 '000590.SZ',
 '000591.SZ',
 '000592.SZ',
 '000593.SZ',
 '000595.SZ',
 '000596.SZ',
 '000597.SZ',
 '000598.SZ',
 '000599.SZ',
 '000600.SZ',
 '000601.SZ',
 '000603.SZ',
 '000605.SZ',
 '000607.SZ',
 '000608.SZ',
 '000609.SZ',
 '000610.SZ',
 '000612.SZ',
 '000615.SZ',
 '000617.SZ',
 '000619.SZ',
 '000620.SZ',
 '000622.SZ',
 '000623.SZ',
 '000625.SZ',
 '000626.SZ',
 '000627.SZ',
 '000628.SZ',
 '000629.SZ',
 '000630.SZ',
 '000631.SZ',
 '000632.SZ',
 '000633.SZ',
 '000635.SZ',
 '000636.SZ',
 '000637.SZ',
 '000638.SZ',
 '000639.SZ',
 '000650.SZ',
 '000651.SZ',
 '000652.SZ',
 '000655.SZ',
 '000656.SZ',
 '000657.SZ',
 '000659.SZ',
 '000661.SZ',
 '000663.SZ',
 '000665.SZ',
 '000668.SZ',
 '000669.SZ',
 '000670.SZ',
 '000672.SZ',
 '000676.SZ',
 '000677.SZ',
 '000678.SZ',
 '000679.SZ',
 '000680.SZ',
 '000681.SZ',
 '000682.SZ',
 '000683.SZ',
 '000685.SZ',
 '000686.SZ',
 '000688.SZ',
 '000690.SZ',
 '000691.SZ',
 '000692.SZ',
 '000695.SZ',
 '000697.SZ',
 '000698.SZ',
 '000700.SZ',
 '000701.SZ',
 '000702.SZ',
 '000703.SZ',
 '000705.SZ',
 '000707.SZ',
 '000708.SZ',
 '000709.SZ',
 '000710.SZ',
 '000711.SZ',
 '000712.SZ',
 '000713.SZ',
 '000715.SZ',
 '000716.SZ',
 '000717.SZ',
 '000718.SZ',
 '000719.SZ',
 '000720.SZ',
 '000721.SZ',
 '000722.SZ',
 '000723.SZ',
 '000725.SZ',
 '000726.SZ',
 '000727.SZ',
 '000728.SZ',
 '000729.SZ',
 '000731.SZ',
 '000733.SZ',
 '000735.SZ',
 '000736.SZ',
 '000737.SZ',
 '000738.SZ',
 '000739.SZ',
 '000750.SZ',
 '000751.SZ',
 '000752.SZ',
 '000753.SZ',
 '000755.SZ',
 '000756.SZ',
 '000757.SZ',
 '000758.SZ',
 '000759.SZ',
 '000761.SZ',
 '000762.SZ',
 '000766.SZ',
 '000767.SZ',
 '000768.SZ',
 '000776.SZ',
 '000777.SZ',
 '000778.SZ',
 '000779.SZ',
 '000782.SZ',
 '000783.SZ',
 '000785.SZ',
 '000786.SZ',
 '000788.SZ',
 '000789.SZ',
 '000790.SZ',
 '000791.SZ',
 '000792.SZ',
 '000793.SZ',
 '000795.SZ',
 '000796.SZ',
 '000797.SZ',
 '000798.SZ',
 '000799.SZ',
 '000800.SZ',
 '000801.SZ',
 '000802.SZ',
 '000803.SZ',
 '000807.SZ',
 '000809.SZ',
 '000810.SZ',
 '000811.SZ',
 '000812.SZ',
 '000813.SZ',
 '000815.SZ',
 '000816.SZ',
 '000818.SZ',
 '000819.SZ',
 '000820.SZ',
 '000821.SZ',
 '000822.SZ',
 '000823.SZ',
 '000825.SZ',
 '000826.SZ',
 '000828.SZ',
 '000829.SZ',
 '000830.SZ',
 '000831.SZ',
 '000833.SZ',
 '000836.SZ',
 '000837.SZ',
 '000838.SZ',
 '000839.SZ',
 '000848.SZ',
 '000850.SZ',
 '000851.SZ',
 '000852.SZ',
 '000856.SZ',
 '000858.SZ',
 '000859.SZ',
 '000860.SZ',
 '000861.SZ',
 '000862.SZ',
 '000863.SZ',
 '000868.SZ',
 '000869.SZ',
 '000875.SZ',
 '000876.SZ',
 '000877.SZ',
 '000878.SZ',
 '000880.SZ',
 '000881.SZ',
 '000882.SZ',
 '000883.SZ',
 '000885.SZ',
 '000886.SZ',
 '000887.SZ',
 '000888.SZ',
 '000889.SZ',
 '000890.SZ',
 '000892.SZ',
 '000893.SZ',
 '000895.SZ',
 '000897.SZ',
 '000898.SZ',
 '000899.SZ',
 '000900.SZ',
 '000901.SZ',
 '000902.SZ',
 '000903.SZ',
 '000905.SZ',
 '000906.SZ',
 '000908.SZ',
 '000909.SZ',
 '000910.SZ',
 '000911.SZ',
 '000912.SZ',
 '000913.SZ',
 '000915.SZ',
 '000917.SZ',
 '000919.SZ',
 '000920.SZ',
 '000921.SZ',
 '000922.SZ',
 '000923.SZ',
 '000925.SZ',
 '000926.SZ',
 '000927.SZ',
 '000928.SZ',
 '000929.SZ',
 '000930.SZ',
 '000931.SZ',
 '000932.SZ',
 '000933.SZ',
 '000935.SZ',
 '000936.SZ',
 '000937.SZ',
 '000938.SZ',
 '000948.SZ',
 '000949.SZ',
 '000950.SZ',
 '000951.SZ',
 '000952.SZ',
 '000953.SZ',
 '000955.SZ',
 '000957.SZ',
 '000958.SZ',
 '000959.SZ',
 '000960.SZ',
 '000961.SZ',
 '000962.SZ',
 '000963.SZ',
 '000965.SZ',
 '000966.SZ',
 '000967.SZ',
 '000968.SZ',
 '000969.SZ',
 '000970.SZ',
 '000971.SZ',
 '000972.SZ',
 '000973.SZ',
 '000975.SZ',
 '000976.SZ',
 '000977.SZ',
 '000978.SZ',
 '000980.SZ',
 '000981.SZ',
 '000982.SZ',
 '000983.SZ',
 '000985.SZ',
 '000987.SZ',
 '000988.SZ',
 '000989.SZ',
 '000990.SZ',
 '000993.SZ',
 '000995.SZ',
 '000996.SZ',
 '000997.SZ',
 '000998.SZ',
 '000999.SZ',
 '001201.SZ',
 '001202.SZ',
 '001203.SZ',
 '001205.SZ',
 '001206.SZ',
 '001207.SZ',
 '001208.SZ',
 '001209.SZ',
 '001210.SZ',
 '001211.SZ',
 '001212.SZ',
 '001213.SZ',
 '001215.SZ',
 '001216.SZ',
 '001217.SZ',
 '001218.SZ',
 '001219.SZ',
 '001222.SZ',
 '001223.SZ',
 '001225.SZ',
 '001226.SZ',
 '001227.SZ',
 '001228.SZ',
 '001229.SZ',
 '001230.SZ',
 '001231.SZ',
 '001234.SZ',
 '001236.SZ',
 '001238.SZ',
 '001239.SZ',
 '001255.SZ',
 '001256.SZ',
 '001258.SZ',
 '001259.SZ',
 '001260.SZ',
 '001266.SZ',
 '001267.SZ',
 '001268.SZ',
 '001269.SZ',
 '001270.SZ',
 '001278.SZ',
 '001282.SZ',
 '001283.SZ',
 '001286.SZ',
 '001287.SZ',
 '001288.SZ',
 '001289.SZ',
 '001296.SZ',
 '001298.SZ',
 '001299.SZ',
 '001300.SZ',
 '001301.SZ',
 '001306.SZ',
 '001308.SZ',
 '001309.SZ',
 '001311.SZ',
 '001313.SZ',
 '001314.SZ',
 '001316.SZ',
 '001317.SZ',
 '001318.SZ',
 '001319.SZ',
 '001322.SZ',
 '001323.SZ',
 '001324.SZ',
 '001326.SZ',
 '001328.SZ',
 '001330.SZ',
 '001331.SZ',
 '001332.SZ',
 '001333.SZ',
 '001336.SZ',
 '001337.SZ',
 '001338.SZ',
 '001339.SZ',
 '001358.SZ',
 '001360.SZ',
 '001366.SZ',
 '001367.SZ',
 '001368.SZ',
 '001373.SZ',
 '001376.SZ',
 '001378.SZ',
 '001379.SZ',
 '001380.SZ',
 '001387.SZ',
 '001696.SZ',
 '001872.SZ',
 '001896.SZ',
 '001914.SZ',
 '001965.SZ',
 '001979.SZ',
 '002001.SZ',
 '002002.SZ',
 '002003.SZ',
 '002004.SZ',
 '002005.SZ',
 '002006.SZ',
 '002007.SZ',
 '002008.SZ',
 '002009.SZ',
 '002010.SZ',
 '002011.SZ',
 '002012.SZ',
 '002014.SZ',
 '002015.SZ',
 '002016.SZ',
 '002017.SZ',
 '002019.SZ',
 '002020.SZ',
 '002021.SZ',
 '002022.SZ',
 '002023.SZ',
 '002024.SZ',
 '002025.SZ',
 '002026.SZ',
 '002027.SZ',
 '002028.SZ',
 '002029.SZ',
 '002030.SZ',
 '002031.SZ',
 '002032.SZ',
 '002033.SZ',
 '002034.SZ',
 '002035.SZ',
 '002036.SZ',
 '002037.SZ',
 '002038.SZ',
 '002039.SZ',
 '002040.SZ',
 '002041.SZ',
 '002042.SZ',
 '002043.SZ',
 '002044.SZ',
 '002045.SZ',
 '002046.SZ',
 '002047.SZ',
 '002048.SZ',
 '002049.SZ',
 '002050.SZ',
 '002051.SZ',
 '002052.SZ',
 '002053.SZ',
 '002054.SZ',
 '002055.SZ',
 '002056.SZ',
 '002057.SZ',
 '002058.SZ',
 '002059.SZ',
 '002060.SZ',
 '002061.SZ',
 '002062.SZ',
 '002063.SZ',
 '002064.SZ',
 '002065.SZ',
 '002066.SZ',
 '002067.SZ',
 '002068.SZ',
 '002069.SZ',
 '002072.SZ',
 '002073.SZ',
 '002074.SZ',
 '002075.SZ',
 '002076.SZ',
 '002077.SZ',
 '002078.SZ',
 '002079.SZ',
 '002080.SZ',
 '002081.SZ',
 '002082.SZ',
 '002083.SZ',
 '002084.SZ',
 '002085.SZ',
 '002086.SZ',
 '002087.SZ',
 '002088.SZ',
 '002089.SZ',
 '002090.SZ',
 '002091.SZ',
 '002092.SZ',
 '002093.SZ',
 '002094.SZ',
 '002095.SZ',
 '002096.SZ',
 '002097.SZ',
 '002098.SZ',
 '002099.SZ',
 '002100.SZ',
 '002101.SZ',
 '002102.SZ',
 '002103.SZ',
 '002104.SZ',
 '002105.SZ',
 '002106.SZ',
 '002107.SZ',
 '002108.SZ',
 '002109.SZ',
 '002110.SZ',
 '002111.SZ',
 '002112.SZ',
 '002114.SZ',
 '002115.SZ',
 '002116.SZ',
 '002117.SZ',
 '002119.SZ',
 '002120.SZ',
 '002121.SZ',
 '002122.SZ',
 '002123.SZ',
 '002124.SZ',
 '002125.SZ',
 '002126.SZ',
 '002127.SZ',
 '002128.SZ',
 '002129.SZ',
 '002130.SZ',
 '002131.SZ',
 '002132.SZ',
 '002133.SZ',
 '002134.SZ',
 '002135.SZ',
 '002136.SZ',
 '002137.SZ',
 '002138.SZ',
 '002139.SZ',
 '002140.SZ',
 '002141.SZ',
 '002142.SZ',
 '002144.SZ',
 '002145.SZ',
 '002146.SZ',
 '002148.SZ',
 '002149.SZ',
 '002150.SZ',
 '002151.SZ',
 '002152.SZ',
 '002153.SZ',
 '002154.SZ',
 '002155.SZ',
 '002156.SZ',
 '002157.SZ',
 '002158.SZ',
 '002159.SZ',
 '002160.SZ',
 '002161.SZ',
 '002162.SZ',
 '002163.SZ',
 '002164.SZ',
 '002165.SZ',
 '002166.SZ',
 '002167.SZ',
 '002168.SZ',
 '002169.SZ',
 '002170.SZ',
 '002171.SZ',
 '002172.SZ',
 '002173.SZ',
 '002174.SZ',
 '002175.SZ',
 '002176.SZ',
 '002177.SZ',
 '002178.SZ',
 '002179.SZ',
 '002180.SZ',
 '002181.SZ',
 '002182.SZ',
 '002183.SZ',
 '002184.SZ',
 '002185.SZ',
 '002186.SZ',
 '002187.SZ',
 '002188.SZ',
 '002189.SZ',
 '002190.SZ',
 '002191.SZ',
 '002192.SZ',
 '002193.SZ',
 '002194.SZ',
 '002195.SZ',
 '002196.SZ',
 '002197.SZ',
 '002198.SZ',
 '002199.SZ',
 '002200.SZ',
 '002201.SZ',
 '002202.SZ',
 '002203.SZ',
 '002204.SZ',
 '002205.SZ',
 '002206.SZ',
 '002207.SZ',
 '002208.SZ',
 '002209.SZ',
 '002210.SZ',
 '002211.SZ',
 '002212.SZ',
 '002213.SZ',
 '002214.SZ',
 '002215.SZ',
 '002216.SZ',
 '002217.SZ',
 '002218.SZ',
 '002219.SZ',
 '002221.SZ',
 '002222.SZ',
 '002223.SZ',
 '002224.SZ',
 '002225.SZ',
 '002226.SZ',
 '002227.SZ',
 '002228.SZ',
 '002229.SZ',
 '002230.SZ',
 '002231.SZ',
 '002232.SZ',
 '002233.SZ',
 '002234.SZ',
 '002235.SZ',
 '002236.SZ',
 '002237.SZ',
 '002238.SZ',
 '002239.SZ',
 '002240.SZ',
 '002241.SZ',
 '002242.SZ',
 '002243.SZ',
 '002244.SZ',
 '002245.SZ',
 '002246.SZ',
 '002247.SZ',
 '002248.SZ',
 '002249.SZ',
 '002250.SZ',
 '002251.SZ',
 '002252.SZ',
 '002253.SZ',
 '002254.SZ',
 '002255.SZ',
 '002256.SZ',
 '002258.SZ',
 '002259.SZ',
 '002261.SZ',
 '002262.SZ',
 '002263.SZ',
 '002264.SZ',
 '002265.SZ',
 '002266.SZ',
 '002267.SZ',
 '002268.SZ',
 '002269.SZ',
 '002270.SZ',
 '002271.SZ',
 '002272.SZ',
 '002273.SZ',
 '002274.SZ',
 '002275.SZ',
 '002276.SZ',
 '002277.SZ',
 '002278.SZ',
 '002279.SZ',
 '002280.SZ',
 '002281.SZ',
 '002282.SZ',
 '002283.SZ',
 '002284.SZ',
 '002285.SZ',
 '002286.SZ',
 '002287.SZ',
 '002288.SZ',
 '002289.SZ',
 '002290.SZ',
 '002291.SZ',
 '002292.SZ',
 '002293.SZ',
 '002294.SZ',
 '002295.SZ',
 '002296.SZ',
 '002297.SZ',
 '002298.SZ',
 '002299.SZ',
 '002300.SZ',
 '002301.SZ',
 '002302.SZ',
 '002303.SZ',
 '002304.SZ',
 '002305.SZ',
 '002306.SZ',
 '002307.SZ',
 '002308.SZ',
 '002309.SZ',
 '002310.SZ',
 '002311.SZ',
 '002312.SZ',
 '002313.SZ',
 '002314.SZ',
 '002315.SZ',
 '002316.SZ',
 '002317.SZ',
 '002318.SZ',
 '002319.SZ',
 '002320.SZ',
 '002321.SZ',
 '002322.SZ',
 '002323.SZ',
 '002324.SZ',
 '002325.SZ',
 '002326.SZ',
 '002327.SZ',
 '002328.SZ',
 '002329.SZ',
 '002330.SZ',
 '002331.SZ',
 '002332.SZ',
 '002333.SZ',
 '002334.SZ',
 '002335.SZ',
 '002336.SZ',
 '002337.SZ',
 '002338.SZ',
 '002339.SZ',
 '002340.SZ',
 '002341.SZ',
 '002342.SZ',
 '002343.SZ',
 '002344.SZ',
 '002345.SZ',
 '002346.SZ',
 '002347.SZ',
 '002348.SZ',
 '002349.SZ',
 '002350.SZ',
 '002351.SZ',
 '002352.SZ',
 '002353.SZ',
 '002354.SZ',
 '002355.SZ',
 '002356.SZ',
 '002357.SZ',
 '002358.SZ',
 '002360.SZ',
 '002361.SZ',
 '002362.SZ',
 '002363.SZ',
 '002364.SZ',
 '002365.SZ',
 '002366.SZ',
 '002367.SZ',
 '002368.SZ',
 '002369.SZ',
 '002370.SZ',
 '002371.SZ',
 '002372.SZ',
 '002373.SZ',
 '002374.SZ',
 '002375.SZ',
 '002376.SZ',
 '002377.SZ',
 '002378.SZ',
 '002379.SZ',
 '002380.SZ',
 '002381.SZ',
 '002382.SZ',
 '002383.SZ',
 '002384.SZ',
 '002385.SZ',
 '002386.SZ',
 '002387.SZ',
 '002388.SZ',
 '002389.SZ',
 '002390.SZ',
 '002391.SZ',
 '002392.SZ',
 '002393.SZ',
 '002394.SZ',
 '002395.SZ',
 '002396.SZ',
 '002397.SZ',
 '002398.SZ',
 '002399.SZ',
 '002400.SZ',
 '002401.SZ',
 '002402.SZ',
 '002403.SZ',
 '002404.SZ',
 '002405.SZ',
 '002406.SZ',
 '002407.SZ',
 '002408.SZ',
 '002409.SZ',
 '002410.SZ',
 '002412.SZ',
 '002413.SZ',
 '002414.SZ',
 '002415.SZ',
 '002416.SZ',
 '002418.SZ',
 '002419.SZ',
 '002420.SZ',
 '002421.SZ',
 '002422.SZ',
 '002423.SZ',
 '002424.SZ',
 '002425.SZ',
 '002426.SZ',
 '002427.SZ',
 '002428.SZ',
 '002429.SZ',
 '002430.SZ',
 '002431.SZ',
 '002432.SZ',
 '002433.SZ',
 '002434.SZ',
 '002435.SZ',
 '002436.SZ',
 '002437.SZ',
 '002438.SZ',
 '002439.SZ',
 '002440.SZ',
 '002441.SZ',
 '002442.SZ',
 '002443.SZ',
 '002444.SZ',
 '002445.SZ',
 '002446.SZ',
 '002448.SZ',
 '002449.SZ',
 '002451.SZ',
 '002452.SZ',
 '002453.SZ',
 '002454.SZ',
 '002455.SZ',
 '002456.SZ',
 '002457.SZ',
 '002458.SZ',
 '002459.SZ',
 '002460.SZ',
 '002461.SZ',
 '002462.SZ',
 '002463.SZ',
 '002465.SZ',
 '002466.SZ',
 '002467.SZ',
 '002468.SZ',
 '002469.SZ',
 '002470.SZ',
 '002471.SZ',
 '002472.SZ',
 '002474.SZ',
 '002475.SZ',
 '002476.SZ',
 '002478.SZ',
 '002479.SZ',
 '002480.SZ',
 '002481.SZ',
 '002482.SZ',
 '002483.SZ',
 '002484.SZ',
 '002485.SZ',
 '002486.SZ',
 '002487.SZ',
 '002488.SZ',
 '002489.SZ',
 '002490.SZ',
 '002491.SZ',
 '002492.SZ',
 '002493.SZ',
 '002494.SZ',
 '002495.SZ',
 '002496.SZ',
 '002497.SZ',
 ...]

In [ ]:
for ts_code in ts_codes:
    logging.info(f'Start importing holders for {ts_code}')
    start_time = datetime.now()

    top10_holders = pro.top10_holders(ts_code=ts_code, start_date=start_date, end_date=end_date)
    for index, row in top10_holders.iterrows():
        # 查找或创建Company节点
        company = Node("Company", ts_code=row['ts_code'])
        graph.merge(company, "Company", "ts_code")

        # 查找或创建Holder节点
        holder = Node("Holder", name=row['holder_name'])
        graph.merge(holder, "Holder", "name")

        # 创建或更新HOLDS关系，并添加关系属性
        holds_relation = Relationship(holder, "HOLDS", company,
                                      ann_date=row['ann_date'],
                                      end_date=row['end_date'],
                                      hold_amount=row['hold_amount'],
                                      hold_ratio=row['hold_ratio'])
        graph.merge(holds_relation)

    end_time = datetime.now()
    logging.info(f'Finished importing holders for {ts_code}. Duration: {end_time - start_time}')

In [11]:
holders = pd.DataFrame(columns=('ts_code', 'ann_date', 'end_date', 'holder_name', 'hold_amount', 'hold_ratio'))

top10_holders = pro.top10_holders(ts_code=ts_code, start_date=start_date, end_date=end_date)

top10_holders

,ts_code,ann_date,end_date,holder_name,hold_amount,hold_ratio,hold_float_ratio,hold_change,holder_type
0,000001.SZ,20231025,20230930,全国社保基金一零一组合,5.847760e+07,0.3013,0.3013,400000.0,社保基金、社保机构
1,000001.SZ,20231025,20230930,交通银行股份有限公司-易方达上证50指数增强型证券投资基金,6.608347e+07,0.3405,0.3405,7000000.0,开放式投资基金
2,000001.SZ,20231025,20230930,中国平安人寿保险股份有限公司-自有资金,1.186100e+09,6.1121,6.1122,0.0,金融机构—保险公司
3,000001.SZ,20231025,20230930,中国平安人寿保险股份有限公司-传统-普通保险产品,4.404787e+08,2.2698,2.2699,0.0,保险投资组合
4,000001.SZ,20231025,20230930,中国工商银行股份有限公司-华泰柏瑞沪深300交易型开放式指数证券投资基金,6.345764e+07,0.3270,0.3270,NaN,开放式投资基金
...,...,...,...,...,...,...,...,...,...
145,000001.SZ,20200421,20200331,中央汇金资产管理有限责任公司,2.162130e+08,1.1142,1.1142,0.0,资产管理公司
146,000001.SZ,20200421,20200331,深圳中电投资股份有限公司,1.625233e+08,0.8375,0.8375,0.0,投资、咨询公司
147,000001.SZ,20200421,20200331,河南鸿宝企业管理有限公司,1.027358e+08,0.5294,0.5294,0.0,一般企业
148,000001.SZ,20200421,20200331,全国社保基金一一七组合,9.502952e+07,0.4897,0.4897,29999936.0,社保基金、社保机构
149,000001.SZ,20200421,20200331,交通银行-易方达50指数证券投资基金,6.064356e+07,0.3125,0.3125,0.0,开放式投资基金

#### 1.3 股票概念信息

In [8]:
concept_details = pd.DataFrame(columns=('id', 'concept_name', 'ts_code', 'name'))

# concept_detail = pro.concept_detail(id='TS0')  # 该接口 TOKEN 受限
    
# concept_detail.head()

#### 1.4 股票公告信息

In [12]:
# notices = pro.anns(ts_code=ts_code, start_date=start_date, end_date=end_date, year=year)  # 该接口 TOKEN 受限

# notices.to_csv("financial_data\\notices\\"+str(code)+".csv",encoding='utf_8_sig',index=False)

# notices.head()

#### 1.5 财经新闻信息

In [7]:
news = pro.news(src='sina', start_date='2023-11-21 09:00:00', end_date='2024-11-22 10:10:00')
news.head()

,datetime,content,title
0,2024-02-20 17:07:36,消息人士：印度将邀请私营企业投资260亿美元用于核能发电。,
1,2024-02-20 17:05:29,【香港联交：对新明中国3名现任董事采取纪律行动】香港联交所(香港交易及结算所有限公司全资附属...,
2,2024-02-20 17:03:46,【深交所：对影响市场正常交易秩序、损害投资者合法权益的违法违规行为，始终保持严的基调和“零容...,
3,2024-02-20 17:02:41,【富宝资讯：场内多见低价抛售，碳酸锂期货大幅下跌】富宝分析，锂矿端：锂矿市场询货问价频次增加...,
4,2024-02-20 17:02:25,【深交所对宁波灵均限制交易并启动公开谴责程序】2月19日，深交所在交易监控中发现，9:30:...,

#### 1.6 概念信息

In [19]:
# concept = pro.concept()  # 该接口 TOKEN 受限

# concept.head()

#### 1.7 沪股通成分和深股通成分信息

In [20]:
sh = pro.hs_const(hs_type='SH')  # 获取沪股通成分

sz = pro.hs_const(hs_type='SZ')  # 获取深股通成分

sh.head()

     ts_code hs_type   in_date out_date is_new
0  601628.SH      SH  20141117     None      1
1  601099.SH      SH  20141117     None      1
2  601808.SH      SH  20141117     None      1
3  601107.SH      SH  20141117     None      1
4  601880.SH      SH  20141117     None      1

#### 1.8 股票价格信息

In [29]:
end_date = '20200201'  # 使用更短数据目的是1.9绘制走势图数值不重叠

price = pro.query('daily', ts_code=ts_code, start_date=start_date, end_date=end_date)

price.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20200123,15.92,15.92,15.39,15.54,16.09,-0.55,-3.4183,1100592.07,1723394.336
1,000001.SZ,20200122,15.92,16.16,15.71,16.09,16.00,0.09,0.5625,719464.91,1150933.398
2,000001.SZ,20200121,16.34,16.34,15.93,16.00,16.45,-0.45,-2.7356,896603.10,1442171.431
3,000001.SZ,20200120,16.43,16.61,16.35,16.45,16.39,0.06,0.3661,746074.75,1226464.649
4,000001.SZ,20200117,16.38,16.55,16.35,16.39,16.33,0.06,0.3674,605436.69,995909.007

#### 1.9 股票价格走势图

In [34]:
from pyecharts.charts import Line
from pyecharts import options as opts
import numpy as np

price = pro.query('daily', ts_code=ts_code, start_date=start_date, end_date=end_date)
(
    Line()
    .add_xaxis(xaxis_data=list(price['trade_date'])[::-1])
    .add_yaxis(series_name="收盘价",y_axis=list(price['close'])[::-1],symbol="circle")
#     .add_yaxis(series_name="开盘价",y_axis=list(price['open'])[::-1],symbol="circle")
#     .add_yaxis(series_name="最高价",y_axis=list(price['high'])[::-1],symbol="circle")
#     .add_yaxis(series_name="最低价",y_axis=list(price['low'])[::-1],symbol="circle")
    .set_global_opts(title_opts=opts.TitleOpts(title="价格走势图"))
    .render_notebook()
)

#### 1.10 基本面数据

In [110]:
stock_company = pro.stock_company(exchange='SZSE', fields='ts_code,chairman,manager,secretary,reg_capital,setup_date,province')
stock_company.head()

     ts_code chairman manager secretary  reg_capital setup_date province
0  300952.SZ      王咸华     王咸华       张武芬   14492.7653   20040415       江苏
1  300268.SZ       汤捷      汤捷       杨振刚   17420.0000   20030508       湖南
2  300447.SZ      陈祥楼      何亮        孙璐   29106.9255   20010929       江苏
3  300451.SZ       葛航     张吕峥        胡燕  119260.8104   19971210       浙江
4  002531.SZ      严俊旭     严俊旭        朱彬  180250.9062   20050118       江苏

In [113]:
import tushare as ts
ts.get_notices("000001").head()

,title,type,date,url
0,平安银行：平安银行股份有限公司2020年年度权益分派实施公告2021-05-07,临时公告,2021-05-07,http://vip.stock.finance.sina.com.cn/corp/view...
1,平安银行：2021年第一季度报告全文,一季度报告,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...
2,平安银行：一季报监事会决议公告,临时公告,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...
3,平安银行：一季报董事会决议公告,临时公告,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...
4,平安银行：2021年第一季度报告正文,一季度报告（摘要）,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...

In [114]:
ts.guba_sina().head()

                 title         ptime  rcounts
0          机构减仓或在战役性转移  05月07日 14:57    360.0
1   170家电子行业公司发布年度业绩预告                    0.0
2  券商开户专属通道：新客专享理财福利多多                    0.0
3        热门股票如何选择盘中介入点  05月07日 07:40    419.0
4    节后综合症再现 依然不乏结构性机会  05月07日 08:03    507.0

In [115]:
ts.get_hist_data("000001").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07,23.67,24.30,24.05,23.39,802214.25,0.55,2.34,23.556,23.294,22.153,614633.11,766603.84,700531.86,0.41
2021-05-06,23.10,23.70,23.50,23.10,500295.19,0.21,0.90,23.334,23.058,22.034,548276.55,769859.69,680476.29,0.26
2021-04-30,23.35,23.49,23.29,23.01,561981.31,-0.30,-1.27,23.222,22.823,21.934,622701.05,831058.44,684515.71,0.29
2021-04-29,23.34,23.71,23.59,23.11,614836.88,0.24,1.03,23.222,22.520,21.859,674950.82,847860.13,683639.09,0.32
2021-04-28,23.29,23.45,23.35,22.78,593837.94,0.41,1.79,23.100,22.197,21.780,717922.23,859962.95,691748.65,0.31

In [116]:
ts.get_hist_data("000001",ktype="w").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07,23.10,24.30,24.05,23.10,1302509.50,0.76,3.26,22.438,21.912,21.823,2882347.97,3893787.24,4866394.11,0.67
2021-04-30,23.87,24.23,23.29,22.78,3113505.25,0.00,0.00,21.928,21.645,21.538,3307222.47,4560954.59,5004209.48,1.60
2021-04-23,20.03,23.65,23.29,19.91,5197079.00,3.03,14.96,21.498,21.701,21.300,3544311.92,4492385.46,5036850.99,2.68
2021-04-16,21.51,21.51,20.26,19.81,3097949.00,-1.04,-4.88,20.934,21.754,21.100,3492326.92,4367200.06,5044014.37,1.60
2021-04-09,21.55,22.09,21.30,21.08,1700697.12,-0.20,-0.93,21.178,22.221,21.072,3922926.32,4865955.41,5078637.83,0.88

In [117]:
ts.get_hist_data("000001",ktype="m").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07,23.10,24.30,24.05,23.10,1302509.5,0.76,3.26,22.764,20.090,17.241,17859144.9,20308849.85,20748658.73,0.67
2021-04-30,22.08,24.23,23.29,19.81,14234763.0,1.28,5.82,21.822,19.019,16.818,21521885.8,24854576.10,21952860.65,7.34
2021-03-31,21.54,23.49,22.01,20.28,23400600.0,0.63,2.95,21.112,17.970,16.361,22789929.6,25258599.60,22737767.70,12.06
2021-02-26,23.00,25.31,21.38,21.21,22432726.0,-1.71,-7.41,20.260,17.069,15.967,22277667.2,24135001.50,22393905.60,11.56
2021-01-29,19.10,23.54,23.09,17.80,27925126.0,3.75,19.39,19.018,16.324,15.587,22094764.0,23598847.10,22103348.45,14.39

In [118]:
ts.get_hist_data("000001",ktype="5").head()  # 5min (15,30,60)

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07 15:00:00,24.01,24.03,24.01,23.98,14157.80,0.00,0.00,24.028,23.998,24.0555,13524.9,12686.8,11663.7,0.01
2021-05-07 14:55:00,24.03,24.04,24.01,23.96,14808.00,-0.02,-0.08,24.024,24.002,24.0630,12897.5,13060.2,11526.3,0.01
2021-05-07 14:50:00,24.08,24.10,24.02,23.96,20615.30,-0.06,-0.25,23.998,24.011,24.0670,12849.7,13332.0,11336.4,0.01
2021-05-07 14:45:00,24.01,24.08,24.08,24.01,9387.44,0.07,0.29,23.990,24.012,24.0680,10501.1,12905.3,11421.0,0.01
2021-05-07 14:40:00,24.00,24.03,24.02,23.95,8656.08,0.02,0.08,23.978,24.012,24.0655,11153.4,12820.4,11752.8,0.01

In [119]:
# sh上证指数； sz深圳成指； hs300沪深300； sz50上证50； zxb中小板指数； cyb创业板指数
ts.get_hist_data("cyb").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2021-05-07,3021.87,3026.85,2910.41,2910.41,14489343.0,-104.40,-3.46,3023.724,2992.490,2898.924,16444300.8,16648376.3,15426893.45
2021-05-06,3059.58,3059.58,3014.81,2961.99,16552269.0,-76.59,-2.48,3038.848,2991.060,2894.984,16974533.4,16827430.9,15346704.55
2021-04-30,3040.65,3110.16,3091.40,3037.31,16606502.0,39.98,1.31,3029.766,2979.452,2886.855,17752532.8,17050663.6,15277921.70
2021-04-29,3053.74,3068.60,3051.42,3014.55,16647988.0,0.84,0.03,3010.384,2948.649,2873.055,17834241.6,16717391.8,15101499.00
2021-04-28,2990.70,3052.04,3050.58,2980.65,17925402.0,64.55,2.16,2987.978,2922.571,2858.409,17635713.4,16185039.8,14900826.45

### 2.股票数据获取（巨宽数据源）

In [40]:
from jqdatasdk import *

auth('18280180192', 'Tencent123')  # 请自行前往 https://www.joinquant.com/ 免费申请TOKEN

security = '000300.XSHG'
start_date = '2020-01-01'
end_date = '2020-03-01'

In [42]:
# security 股票代码
# frequency 时间粒度（1d=日）
# skip_paused 是否跳过缺失交易数据时间点
stock_price = get_price(security=security, start_date=start_date, end_date=end_date, frequency='1d',skip_paused=False)

stock_price.head()

               open    close     high      low        volume         money
2020-01-02  4121.35  4152.24  4172.66  4121.35  1.821168e+10  2.701055e+11
2020-01-03  4161.22  4144.96  4164.30  4131.86  1.428262e+10  2.152163e+11
2020-01-06  4120.52  4129.30  4170.64  4102.38  1.753100e+10  2.501821e+11
2020-01-07  4137.40  4160.23  4161.25  4135.10  1.394890e+10  1.963891e+11
2020-01-08  4139.63  4112.32  4149.81  4101.98  1.675858e+10  2.124063e+11